# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventory_db"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="cambia-esto-por-un-secreto-largo"
JWT_REFRESH_SECRET="otro-secreto-diferente"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# App
API_PORT=3001
WEB_PORT=3000
NODE_ENV="development"